In [28]:
import pandas as pd
import numpy as np

# initialize a new, empty DataFrame
df = pd.DataFrame()

# initialize a DataFrame with sample data
df = pd.DataFrame( {'a': [1, 2, 3, 4], 
                    'b': [1.0, 1.5, 2.0, 2.5], 
                    'c': ['a', 'b', 'c', 'd'] }, index=['r1', 'r2', 'r3', 'r4'] )

df.new = df.rename(columns={'a':'c1', 'b':'c2', 'c':'c3'}) #df.rename simply makes a copy, have to assign
#else
#df.rename(columns={'a':'c1', 'b':'c2', 'c':'c3'}, inplace=True) # alternatively, can assing in-place
df.new

    c1   c2 c3
r1   1  1.0  a
r2   2  1.5  b
r3   3  2.0  c
r4   4  2.5  d

## Series objects as Columns or Rows of DataFrame

In [30]:
s1 = df['a']       # Series([1, 2, 3, 4]):  column in dataframe # series is like an array
s1 = df.a        # same
print 's1:'
print s1

print

s2 = df.ix[1]      # Series([1, 1.0, 'a']) #ix = index, gives us indexed row
    # df[0] gives key error because there is no zero COLUMN -> index has to be column head (like ['a'])
    # on the other hand, index slice gets you rows
print 's2:'
print s2

s1:
r1    1
r2    2
r3    3
r4    4
Name: a, dtype: int64

s2:
a      2
b    1.5
c      b
Name: r2, dtype: object

### Series:  Initializing with Index and Name

In [56]:
s1 = pd.Series([5, 6, 7, 8], index=['r1', 'r2', 'r3', 'r4'], 
                             name='numbers')
s0 = pd.Series([50, 60, 70, 80], index = ['r1', 'r2', 'r3', 'r5'],name='wrong')
s2 = pd.Series([50, 60, 70, 80], index = ['r1', 'r2', 'r3', 'r4'],name='others')

In [61]:
pd.concat([s1,s0],axis=1)

    numbers  wrong
r1      5.0   50.0
r2      6.0   60.0
r3      7.0   70.0
r4      8.0    NaN
r5      NaN   80.0

In [60]:
pd.concat([s1,s2], axis=1)

    numbers  others
r1        5      50
r2        6      60
r3        7      70
r4        8      80

### Series:  Accessing Element with indexing and slicing

In [ ]:
s1[0]

In [ ]:
s1[0:3]

### Series:  setting element values and type

In [51]:
s1 = pd.Series([1.5, 2.4, 3.3, 4.2, 5.1], index=['r1', 'r2', 'r3', 'r4', 'r5']) # versus if '5.1' is str
print 's1 dtype:  ', s1.dtype
try:
    s1[0] = 'hello'
except ValueError, msg:
    print 'ValueError: ', msg

s1 dtype:   float64
ValueError:  could not convert string to float: hello

In [52]:
s2 = s1.astype('object')
s2[0] = 'hello'
s2

r1    hello
r2      2.4
r3      3.3
r4      4.2
r5      5.1
dtype: object

### Series:  Vectorized Operations

In [53]:
si = pd.Series([1, 2, 3], index=['r1', 'r2', 'r3']) # every series has to have index
print 'si:'
print si
print
sia = si + 1
print 'sia:'
print sia

si:
r1    1
r2    2
r3    3
dtype: int64

sia:
r1    2
r2    3
r3    4
dtype: int64

### Vectorization with Two or More Series

In [65]:
si = pd.Series([1, 2, 3], index=['r1', 'r2', 'r3'])
si2 = pd.Series([100, 200, 300], index=['r1', 'r2', 'r3'])

si + si2

r1    101
r2    202
r3    303
dtype: int64

##### ...but note what happens when indices do not match:  pandas lines up rows and uses empty value for mising cells

In [64]:
si = pd.Series([1, 2, 3], index=['r1', 'r2', 'r3'])
si2 = pd.Series([100, 200, 300], index=['r2', 'r3', 'r4'])

si + si2

r1      NaN
r2    102.0
r3    203.0
r4      NaN
dtype: float64

### Mask with Series

In [85]:
si3old = pd.Series([1, 5, 100, 0, -6, -10, -100], name='old')
si3 = pd.Series([1, 5, 100, 0, -6, -10, -100], name='masked')
si3[si3 < 0 ] = 0
pd.concat([si3old,si3], axis=1)

   old  masked
0    1       1
1    5       5
2  100     100
3    0       0
4   -6       0
5  -10       0
6 -100       0

### Series.apply()

In [83]:
ss = pd.Series(['a', 'b', 'C', 'd'])
ssc = ss.apply(str.upper)
ssc

0    A
1    B
2    C
3    D
dtype: object

In [86]:
si = pd.Series([1, 2, 3, 4, 5])
sj = si.apply(lambda x: 'num_' + str(x))
print sj

0    num_1
1    num_2
2    num_3
3    num_4
4    num_5
dtype: object

### DataFrame as a container of Series objects

In [90]:
dfi = pd.DataFrame(np.arange(1,31).reshape(6,5))
dfi.columns = ['c1', 'c2', 'c3', 'c4', 'c5']
dfi.index = ['r1', 'r2', 'r3', 'r4', 'r5', 'r6']
dfi

    c1  c2  c3  c4  c5
r1   1   2   3   4   5
r2   6   7   8   9  10
r3  11  12  13  14  15
r4  16  17  18  19  20
r5  21  22  23  24  25
r6  26  27  28  29  30

In [ ]:
print dfi['c1']
print
print 'type:', type(dfi['c1'])

### DataFrame initializations

In [92]:
df6 = pd.DataFrame(  {'a': [1, 2, 3, 4], 
                      'b': [1.0, 1.5, 2.0, 2.5], 
                      'c': ['a', 'b', 'c', 'd'] }, 
                     columns=['a', 'b', 'c']  )
df6

   a    b  c
0  1  1.0  a
1  2  1.5  b
2  3  2.0  c
3  4  2.5  d

In [93]:
dflol = pd.DataFrame([ [1, 0.5, 'a'], 
                       [2, 0.6, 'b'], 
                       [3, 0.7, 'c'] ], columns=['col1', 'col2', 'col3'],
                                        index=['r1', 'r2', 'r3'])
dflol

    col1  col2 col3
r1     1   0.5    a
r2     2   0.6    b
r3     3   0.7    c

In [95]:
df6 = pd.DataFrame({'Nevada': {2001: 2.4, 2002: 2.9}, #sets missing values to NaN
                    'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}} )

df6

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

### Standard Python operations with DataFrames

In [97]:
df = pd.DataFrame( {'a': [1, 2, 3, 3], 
                    'b': [1.0, 1.5, 2.0, 2.5], 
                    'c': ['a', 'b', 'c', 'd'] }, index=['r1', 'r2', 'r3', 'r4'] )


print 'len:', len(df)

print 'len df.columns:', len(df.columns)

print 'max (col a):', max(df['a'])

print 'col "a" as list with df[name]:', list(df['a'])

print 'row "r2" as list with df.ix[num]:', list(df.ix['r2'])

print 'set (col a):', set(df['a'])        # set([1, 2, 3, 4])

print
print 'looping through columns:'
for colname in df:
    print '{}:  {}'.format(colname, list(df[colname]))
print
                          # 'a':  pandas.core.series.Series
                          # 'b':  pandas.core.series.Series
                          # 'c':  pandas.core.series.Series

print 'looping through rows with iterrows():'
for index, row in df.iterrows():
    print 'row {}:  {}'.format(index, list(row))

len: 4
len df.columns: 3
max (col a): 3
col "a" as list with df[name]: [1, 2, 3, 3]
row "r2" as list with df.ix[num]: [2, 1.5, 'b']
set (col a): set([1, 2, 3])

looping through columns:
a:  [1, 2, 3, 3]
b:  [1.0, 1.5, 2.0, 2.5]
c:  ['a', 'b', 'c', 'd']

looping through rows with iterrows():
row r1:  [1, 1.0, 'a']
row r2:  [2, 1.5, 'b']
row r3:  [3, 2.0, 'c']
row r4:  [3, 2.5, 'd']

In [101]:
[list(x) for x in df.values]

[[1, 1.0, 'a'], [2, 1.5, 'b'], [3, 2.0, 'c'], [3, 2.5, 'd']]

### Index and Column Manipulation

In [104]:
# rename individual columns
df = df.rename(columns={'a': 'A'})
df = df.rename(index={'alpha': 'affa'}) # where index is row

# change labels wholesale (can't just change one)
df.columns=['col1', 'col2', 'col3' 'col4'] 
df.index=['a', 'b', 'c', 'd']

# reset indices to integer starting with 0
df.reset_index() # 0,1,2,3

# set name for index and columns
df.index.name = 'year'
df.columns.name = 'state'

print 'before reordering'
print df
print

# reindex ordering by index:  
df = df.reindex(reversed(df.index))
print 'reindex index'
print df
print

df = df.reindex(columns=reversed(df.columns))
print 'reindex columns'
print df

before reordering
state col1  col2  col3col4
year
a        d   2.5         3
b        c   2.0         3
c        b   1.5         2
d        a   1.0         1

reindex index
state col1  col2  col3col4
year
d        a   1.0         1
c        b   1.5         2
b        c   2.0         3
a        d   2.5         3

reindex columns
state  col3col4  col2 col1
year
d             1   1.0    a
c             2   1.5    b
b             3   2.0    c
a             3   2.5    d

### Slice and Dice a DataFrame

In [105]:
df = pd.DataFrame( {'a': [1, 2, 3, 4], 
                    'b': [1.0, 1.5, 2.0, 2.5], 
                    'c': ['a', 'b', 'c', 'd'] }, index=['r1', 'r2', 'r3', 'r4'] )
df

    a    b  c
r1  1  1.0  a
r2  2  1.5  b
r3  3  2.0  c
r4  4  2.5  d

In [106]:
df[['b', 'c']]

      b  c
r1  1.0  a
r2  1.5  b
r3  2.0  c
r4  2.5  d

In [107]:
df.ix['r1']

a    1
b    1
c    a
Name: r1, dtype: object

In [108]:
df[['a', 'b']]['r1': 'r3']

    a    b
r1  1  1.0
r2  2  1.5
r3  3  2.0

In [111]:
df.ix[['r1', 'r2', 'r3']][['a', 'b']]

    a    b
r1  1  1.0
r2  2  1.5
r3  3  2.0

In [110]:
# but cannot use [:] for rows/indices
df.ix[['r1', 'r2', 'r3']][['a', 'b']]

SyntaxError: invalid syntax (<ipython-input-110-ba9291164147>, line 1)

### Vectorized Operations on Dataframes

In [112]:
dfi = pd.DataFrame(np.arange(30).reshape(6,5),
                   columns = ['c1', 'c2', 'c3', 'c4', 'c5'],
                   index = ['r1', 'r2', 'r3', 'r4', 'r5', 'r6'])
dfi2 = dfi.copy()
dfi2

    c1  c2  c3  c4  c5
r1   0   1   2   3   4
r2   5   6   7   8   9
r3  10  11  12  13  14
r4  15  16  17  18  19
r5  20  21  22  23  24
r6  25  26  27  28  29

In [113]:
dfi2 * 2

    c1  c2  c3  c4  c5
r1   0   2   4   6   8
r2  10  12  14  16  18
r3  20  22  24  26  28
r4  30  32  34  36  38
r5  40  42  44  46  48
r6  50  52  54  56  58

In [114]:
dfi2['c1'] * 100

r1       0
r2     500
r3    1000
r4    1500
r5    2000
r6    2500
Name: c1, dtype: int64

### Column-to-column DataFrame operations

In [116]:
dfi2['c1'] = dfi2['c1'] * 100
dfi2

      c1  c2  c3  c4  c5
r1     0   1   2   3   4
r2   500   6   7   8   9
r3  1000  11  12  13  14
r4  1500  16  17  18  19
r5  2000  21  22  23  24
r6  2500  26  27  28  29

In [117]:
dfi2['c1'] = dfi2['c3'] * 100
dfi2

      c1  c2  c3  c4  c5
r1   200   1   2   3   4
r2   700   6   7   8   9
r3  1200  11  12  13  14
r4  1700  16  17  18  19
r5  2200  21  22  23  24
r6  2700  26  27  28  29

In [118]:
dfi2['c6'] = dfi2['c5']
dfi2

      c1  c2  c3  c4  c5  c6
r1   200   1   2   3   4   4
r2   700   6   7   8   9   9
r3  1200  11  12  13  14  14
r4  1700  16  17  18  19  19
r5  2200  21  22  23  24  24
r6  2700  26  27  28  29  29

### apply() and applymap()

In [120]:
dfm = pd.DataFrame({ 'floats': [1.3, 2.3, 3.3, 4.3], 
                     'ints': [1, 2, 3, 4], 
                     'strs': ['a', 'b', 'c', 'd']    })
dfm

   floats  ints strs
0     1.3     1    a
1     2.3     2    b
2     3.3     3    c
3     4.3     4    d

In [126]:
dfm['y'] = dfm['strs'] + dfm['ints'].apply(str)
dfm

   floats  ints strs   y
0     1.3     1    a  a1
1     2.3     2    b  b2
2     3.3     3    c  c3
3     4.3     4    d  d4

In [132]:
dfi3 = dfi.copy()
dfi3

    c1  c2  c3  c4  c5
r1   0   1   2   3   4
r2   5   6   7   8   9
r3  10  11  12  13  14
r4  15  16  17  18  19
r5  20  21  22  23  24
r6  25  26  27  28  29

In [133]:
dfi3 = dfi3 * 50
dfi3

      c1    c2    c3    c4    c5
r1     0    50   100   150   200
r2   250   300   350   400   450
r3   500   550   600   650   700
r4   750   800   850   900   950
r5  1000  1050  1100  1150  1200
r6  1250  1300  1350  1400  1450

In [134]:
dfilen = dfi3.applymap(lambda x: len(str(x)))
dfilen

    c1  c2  c3  c4  c5
r1   1   2   3   3   3
r2   3   3   3   3   3
r3   3   3   3   3   3
r4   3   3   3   3   3
r5   4   4   4   4   4
r6   4   4   4   4   4

### mask

In [142]:
mask = dfi3['c1'] < 1000
print mask
dfi3['c1'][ mask ] = 0
dfi3

r1     True
r2     True
r3     True
r4     True
r5    False
r6    False
Name: c1, dtype: bool

      c1    c2    c3    c4    c5
r1     0    50   100   150   200
r2     0   300   350   400   450
r3     0   550   600   650   700
r4     0   800   850   900   950
r5  1000  1050  1100  1150  1200
r6  1250  1300  1350  1400  1450

### fillna()

In [143]:
nandf = pd.DataFrame( { 'c1': [6, 6, np.nan],
                        'c2': [np.nan, 1, 3],
                        'c3': [2, 2, 2] } )
nandf

    c1   c2  c3
0  6.0  NaN   2
1  6.0  1.0   2
2  NaN  3.0   2

In [146]:
ndf = nandf.fillna(0)
ndf

    c1   c2  c3
0  6.0  0.0   2
1  6.0  1.0   2
2  0.0  3.0   2

### merge

In [147]:
dfi

    c1  c2  c3  c4  c5
r1   0   1   2   3   4
r2   5   6   7   8   9
r3  10  11  12  13  14
r4  15  16  17  18  19
r5  20  21  22  23  24
r6  25  26  27  28  29

In [150]:
dfi2 = pd.DataFrame( { 'c1': [0, 5, 10, 15, 20, 25],
                       'c6': [41, 51, 61, 71, 81, 91],
                       'c7': [42, 52, 62, 72, 82, 92]  } )

dfi3 = dfi.merge(dfi2, on='c1', how='left')
dfi3

   c1  c2  c3  c4  c5  c6  c7
0   0   1   2   3   4  41  42
1   5   6   7   8   9  51  52
2  10  11  12  13  14  61  62
3  15  16  17  18  19  71  72
4  20  21  22  23  24  81  82
5  25  26  27  28  29  91  92

### group by

In [151]:
dfgb = pd.DataFrame({ 'c1': ['a', 'a', 'b', 'b', 'c', 'c'],
                      'c2': [ 6,  11,  16,  21,  26,  36 ] },
                      index=['r1', 'r2', 'r3', 'r4', 'r5', 'r6'])
dfgb

   c1  c2
r1  a   6
r2  a  11
r3  b  16
r4  b  21
r5  c  26
r6  c  36

In [156]:
dfgb.groupby('c1').sum()

    c2
c1
a   17
b   37
c   62

In [158]:
dfgb.groupby('c1').mean()

      c2
c1
a    8.5
b   18.5
c   31.0

In [161]:
dfgb.groupby('c1').min()

    c2
c1
a    6
b   16
c   26

## List of selected groupby functions

count<BR>
mean<BR>
sum<BR>
size<BR>
describe<BR>
min<BR>
max<BR>